:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    /* --h2-font-size: 1.25rem;
    --small-font-size: .813rem; */
  }

*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4f4;
}

.bulat {
    border-radius: 50px;
}
/* Navbar Style */

nav{
    background-color:  rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: black;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav div h3 {
    padding: 1rem;
}

nav div img {
    width: 50px;
    border-radius: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-bottom: 8px;
}

nav ul li a:hover {
    color: gray;
    border-bottom:  1px solid gray;
}

nav ul li a i {
    color: black;
}

/* navbar selesai */

/* header konten */
section {
    /* margin-top: 6rem; */
    align-items: center;
}

.konten{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.isi-konten {
    /* border: 1px solid black; */
    width: 80%;
}



/* .isi-konten p, .isi-konten h1{
    border: 1px solid black;
    width: 20%;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== CARD ===============*/
  .kontainer {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card-kontainer {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card-artikel {
    position: relative;
    overflow: hidden;
  }
  
  .cardImg {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card-data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .cardDeskripsi {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .cardTitle {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .cardButton {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
  }
  
  .cardButton:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card-artikel:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card-artikel:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card-artikel:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card-artikel:not(:hover) .card-data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }


  @media screen and (max-width: 340px) {
    html {
        font-size: 55%;
      }

    .kontainer {
      margin-inline: 1rem;
    }
  
    .card-data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
      }

    .card-kontainer {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .kontainer {
      height: 20vh;
    }
  
    .card-kontainer {
      grid-template-columns: repeat(4, 1fr);
    }
    .cardImg {
      width: 348px;
    }
    .card-data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }
  
